<a href="https://colab.research.google.com/github/adnansoffiatti/python_fundamentos/blob/main/Exercicios1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variáveis, tipos de dados e estrutura condicionais

## Exercício 1

Escreva um programa que mostre a mensagem 'Hello World!' na tela.

In [1]:
print('Hello World!')

Hello World!

## Exercício 2

Faça um programa que solicite um número do usuário e apresente a seguinte mensagem na tela:

"O número digitado foi [número]".

In [2]:
num1 = int(input('Digite um número: '))
print(f'O número digito foi {num1}')

Digite um número: 17
O número digito foi 17

## Exercício 3

Escreva um programa que solicite o nome e o sobrenome do usuário. Ao final o programa deverá apresentar o nome completo do usuário na tela.

In [5]:
nome = input('Digite seu primeiro nome: ').strip().title()
sobrenome = input('Digite seu sobrenome: ').strip().title()
print(f'{nome} {sobrenome}')

Digite seu primeiro nome: Adnan
Digite seu sobrenome: Santos
Adnan Santos

## Exercício 4

Faça um programa que solicite três números inteiros do usuário e imprima a soma destes.

In [7]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
num3 = int(input('Digite o terceiro número: '))
lista_num = [num1, num2, num3]
print(sum(lista_num))

Digite o primeiro número: 10
Digite o segundo número: 11
Digite o terceiro número: 12
33

# Exercício 5

Escreva um programa que solicite duas notas do usuário e apresente a média na tela da seguinte forma:

"A média das notas [nota1] e [nota2] é [média]"

In [8]:
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
media = (nota1 + nota2) / 2
print(f'A média das notas {nota1} e {nota2} é {media}')

Digite a primeira nota: 10
Digite a segunda nota: 8
A média das notas 10.0 e 8.0 é 9.0

## Exercício 6

Faça um programa que calcule a raiz quadrada de um número. O usuário deve inserir um número e o programa deve mostrar na tela o resultado da raiz quadrada do número inserido.

In [11]:
num = float(input('Digite um número: '))
print(f'A raiz quadrada de {num} é {num**(1/2)}')

Digite um número: 25
A raiz quadrada de 25.0 é 5.0

## Exercício 7

Faça um programa que peça 5 números de ponto flutuante do usuário e apresente no final a média dos números digitados.

In [17]:
nota1 = float(input('Digite primeiro número: '))
nota2 = float(input('Digite segundo número: '))
nota3 = float(input('Digite o terceiro número: '))
nota4 = float(input('Digite o quarto número: '))
nota5 = float(input('Digite o quinto número: '))
media=(nota1+nota2+nota3+nota4+nota5)/5
print(f'Média: {media}')

Digite primeiro número: 1.1
Digite segundo número: 1.2
Digite o terceiro número: 10
Digite o quarto número: 10
Digite o quinto número: 10
Média: 6.459999999999999

## Exercício 8

Escreva um programa que faça a conversão de um dado valor de metro para quilômetro.

In [18]:
num = float(input('Digite um valor em mentros: '))
print(f'{num} metros equivale a {num/1000} km')

Digite um valor em mentros: 1500
1500.0 metros equivale a 1.5 km

# Exercício 9

Escreva um programa que calcule a área de uma circunferência. O usuário deve digitar o valor do raio e ao final o programa deverá mostrar na tela a área da circunferência.

Use a fórmula: área=pi*r² , em que pi é uma constante e r o raio da circunferência.

Dica: você pode usar a biblioteca math para pegar a constante pi.

In [19]:
from math import pi

raio = float(input('Digite o valor do raio da circunferência: '))
print(f'Área da circunferência: {pi*raio**2:.2f}')

Digite o valor do raio da circunferência: 5
Área da circunferência: 78.54

## Exercício 10

Faça um programa que peça uma temperatura em Fahrenheit (F) e converta esta temperatura para grau Celsius (C), mostrando o resultado da conversão na tela.

Use a fórmula: C = 5 * ((F-32) / 9).

In [20]:
f = float(input('Temperatura em Fahrenheit: \n'))
c = 5*((f-32)/9)
print(f'{f:.2f}° F Equivale a {c:.2f}° C.')

Temperatura em Fahrenheit:
130
130.00° F Equivale a 54.44° C.

## Exercício 11

Escreva um programa que peça dois números e apresente a divisão e multiplicação entre eles. A tela de apresentação deverá seguir o seguinte formato:

"[número1]x[número2]=[multiplicação]"

"[número1]/[número2]=[divisão]"

In [21]:
num1 = float(input('Digite o primeiro número: '))
num2 = float(input('Digite o segundo número: '))
print(f'{num1}x{num2} = {num1*num2}')
print(f'{num1}/{num2} = {num1/num2}')

Digite o primeiro número: 20
Digite o segundo número: 3
20.0x3.0 = 60.0
20.0/3.0 = 6.666666666666667

## Exercício 12

Escreva um programa que receba o nome, sobrenome e idade do usuário e apresente a seguinte mensagem na tela:

"Seja bem-vindo [nome] [sobrenome]."

"Você possui [idade] anos de idade."



No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e depois da string, enquanto que o último permite colocar a string no formato titlecased (capitaliza a string).

In [22]:
nome = input('Digite seu primeiro nome: ').strip().title()
sobrenome = input('Digite seu sobrenome: ').strip().title()
idade = int(input('Digite sua idade: '))

print(f'Seja bem-vindo {nome} {sobrenome}')
print(f'Você possui {idade} anos de idade.')

Digite seu primeiro nome:   adnan
Digite seu sobrenome:    soffiatti
Digite sua idade: 37
Seja bem-vindo Adnan Soffiatti
Você possui 37 anos de idade.

## Exercício 13
Escreva um programa que peça um número do usuário via método input e converta esse número para o formato float.

In [26]:
num = int(input('Digite um número inteiro: '))
num = float(num)
print(num)
print(type(num))

Digite um número inteiro: 10
10.0
<class 'float'>

## Exercício 14
Escreva um programa que peça o nome e a idade do usuário. Caso a idade do usuário seja maior ou igual a 18 anos apresente a seguinte mensagem: "Seja bem-vindo ao nosso site [nome]!"; caso contrário, apresente a seguinte mensagem: "Você não pode acessar nosso site [nome].".

In [28]:
nome = input('Digite o seu nome: ')
idade = int(input('Digite a sua idade: '))

if idade >= 18:
  print(f'Seja bem-vindo ao nosso site {nome}')
else:
  print(f'Você não pode acessar nosso site {nome}')

Digite o seu nome: Adnan
Digite a sua idade: 37
Seja bem-vindo ao nosso site Adnan

## Exercício 15
Elabore um programa para calcular a hipotenusa de um triângulo.

Dicas:

* Veja o módulo math (math.hypot);
* Utilize a seguinte fórmula: hipotenusa=(a²+b²)¹/2:

In [29]:
from math import hypot

cateto_a = float(input('Digite o Cateto Adjacente: '))
cateto_o = float(input('Digite o Cateto Oposto: '))

hipotenusa1 = (cateto_a**2 + cateto_o**2)**(1/2)
hipotenusa2 = hypot(cateto_a, cateto_o)

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Digite o Cateto Adjacente: 2
Digite o Cateto Oposto: 3
Hipotenusa: 3.605551275463989
Hipotenusa: 3.605551275463989

## Exercício 16
Faça um programa que recebe um número inteiro do usuário e calcule o fatorial deste número.



Dica: utilize o módulo math do Python, especificamente math.fatorial.

In [3]:
import math
num = int(input('Digite um número inteiro: '))
fatorial = math.factorial(num)
print(f'O fatorial de {num} é {fatorial}')

Digite um número inteiro: 5
O fatorial de 5 é 120

## Exercício 17
Escreva um programa que peça um número do usuário e calcule o logaritmo deste número nas bases 10 e 2.

Dica: utilize o módulo math.

In [5]:
import math

num = float(input('Digite um número: '))
log1 = math.log10(num) # também podemos fazer: math.log(num,10)
log2 = math.log(num, 2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

Digite um número: 3
O log de 3.0 na base 10 é 0.47712125471966244
O log de 3.0 na base 2 é 1.5849625007211563

## Exercício 18
Faça um programa que peça a base e a altura de um retângulo e calcule e mostre na tela a área e o perímetro.

In [6]:
base = float(input('Digite a base do retãngulo: '))
altura = float(input('Digite a altura do retângulo: '))

area = base*altura
perimetro = 2*base + 2*altura
print(f'O retêngulo digitado tem base {base} e altura {altura}.')
print(f'A área deste retêngulo é: {area}')
print(f'O perímetro deste retângulo é: {perimetro}')

Digite a base do retãngulo: 2
Digite a altura do retângulo: 3
O retêngulo digitado tem base 2.0 e altura 3.0.
A área deste retêngulo é: 6.0
O perímetro deste retângulo é: 10.0

## Exercício 19
Escreva um programa que solicite o nome, o sobrenome e o salário atual de um funcionário. Ao fim, calcule seu novo salário considerando cenários hipotéticos, com os seguintes aumentos: 10%, 25%,30% e 50%. A mensagem na tela deverá seguir o seguinte padrão:



"Olá, [nome] [sobrenome]"

"Seu salário atual é : [salário]"

"Seu salário com 10% de aumento é: [salário]"

"Seu salário com 25% de aumento é: [salário]"

"Seu salário com 30% de aumento é: [salário]"

"Seu salário com 50% de aumento é: [salário]"



No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e após a string, enquanto que o último permite colocar a string no formato titlecased (capitaliza string).

### Solução 1

In [7]:
nome = input('Digite seu nome: ').strip().title()
sobrenome = input('Digite seu sobrenome: ').strip().title()
salario = float(input('Digite seu salário: '))
salario1 = salario+salario*0.1  # salario com 10% de aumento
salario2 = salario+salario*0.25 # salario com 25% de aumento
salario3 = salario+salario*0.3 # salario com 30% de aumento
salario4 = salario+salario*0.5 # salario com 50% de aumento

print(f'Olá, {nome} {sobrenome}')
print(f'Seu salario atual é: R$ {salario:.2f}')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Digite seu nome: Adnan
Digite seu sobrenome: Soffiatti
Digite seu salário: 2442
Olá, Adnan Soffiatti
Seu salario atual é: R$ 2442.00
Seu salário com 10% de aumento é: R$ 2686.20
Seu salário com 25% de aumento é: R$ 3052.50
Seu salário com 30% de aumento é: R$ 3174.60
Seu salário com 50% de aumento é: R$ 3663.00

### Solução 2

In [8]:
nome = input('Digite seu nome: ').strip().title()
sobrenome = input('Digite seu sobrenome: ').strip().title()
salario = float(input('Digite o seu salário: '))
salario1 = salario * 1.1  # salário com 10% de aumento
salario2 = salario * 1.25 # salário com 25% de aumento
salario3 = salario * 1.3  # salário com 30% de aumento
salario4 - salario * 1.5  # salário com 50% de aumento

print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é R$ {salario}')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Digite seu nome: Adnan
Digite seu sobrenome: Santos
Digite o seu salário: 2442
Olá, Adnan Santos
Seu salário atual é R$ 2442.0
Seu salário com 10% de aumento é: R$ 2686.20
Seu salário com 25% de aumento é: R$ 3052.50
Seu salário com 30% de aumento é: R$ 3174.60
Seu salário com 50% de aumento é: R$ 3663.00

### Solução 3

In [12]:
nome = input('Digite seu nome: ').strip().title()
sobrenome = input('Digite seu sobrenome: ').strip().title()
salario = float(input('Digite o seu salário: '))
print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é: R$ {salario}')
print(f'Seu salário com 10% de aumento é: R$ {salario*1.1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario*1.25:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario*1.3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario*1.5:.2f}')

Digite seu nome: Adnan
Digite seu sobrenome: Soffiatti
Digite o seu salário: 2442
Olá, Adnan Soffiatti
Seu salário atual é: R$ 2442.0
Seu salário com 10% de aumento é: R$ 2686.20
Seu salário com 25% de aumento é: R$ 3052.50
Seu salário com 30% de aumento é: R$ 3174.60
Seu salário com 50% de aumento é: R$ 3663.00

## Exercício 20
Escreva um programa que peça um número inteiro do usuário e calcule e imprima a tabuada deste número.

In [13]:
num = int(input('Digite um número inteiro: \n'))
print(f'Tabuada do número: {num}')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Digite um número inteiro:
3
Tabuada do número: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

## Exercício 21
Faça um programa que solicite um número inteiro e mostre o seu valor absoluto.



Dica: use a função built-in abs().

In [14]:
num = int(input('Digite um número inteiro: '))
print(f'O valor absoluto de {num} é {abs(num)}.')

Digite um número inteiro: 4
O valor absoluto de 4 é 4.

## Exercício 22
Faça um programa que peça uma string ao usuário e mostre na tela a quantidade de caracteres.



Dica: use a função built-in len() e trate a string com o método strip().

In [15]:
string = input('Digite algo: ').strip()
print(f'Você digitou: {string}')
print(f'Quantidade de caracteres do que você digitou é: {len(string)}')

Digite algo: Palmeiras
Você digitou: Palmeiras
Quantidade de caracteres do que você digitou é: 9

## Exercício 23
Escreva um programa que peça um número inteiro do usuário e mostre se esse número é par ou ímpar. A mensagem na tela deverá seguir o seguinte formato:

"O número [número] é [par/ímpar]"

In [16]:
num = int(input('Digite número inteiro: '))

if num % 2 == 0:
  print(f'O número {num} é par.')
else:
  print(f'O número {num} é impar.')

Digite número inteiro: 15
O número 15 é impar.

## Exercício 24
O Índice de Massa Corporal (IMC) é utilizado para mensurar o peso ideal de uma pessoa. Escreva um programa que peça o nome, a idade , o peso e a altura do usuário. Ao final calcule e mostre o resultado do seu IMC e classifique este resultado de acordo com a regra a seguir.



IMC<17 - Muito abaixo do peso ideal

17<=IMC<18,5 - Abaixo do peso

18,5<=IMC<25 - Peso normal

25<=IMC<30 - Acima do peso

30<=IMC<35 - Obesidade I

35<=IMC<40 - Obesidade II (severa)

IMC>=40 - Obesidade III (mórbida)



Lembre que: IMC=massa/(altura*altura)

In [19]:
print('Cálculo do IMC')
altura = float(input('Insira sua altura: \n'))
peso = float(input('Insira seu peso: \n'))
imc = peso/(altura*altura)  # poderiamos fazer peso/altura**2
print('Processando seus dados...')

if imc < 17:
  print('Muito abaixo do peso.')
elif 17 <= imc < 18.5:
  print('Abaixo do peso.')
elif 18.5 <= imc < 25:
  print('Peso normal.')
elif 25 <= imc < 30:
  print('Acima do peso.')
elif 30 <= imc < 35:
  print('Obesidade Grau I.')
elif 35 <= imc < 40:
  print('Obesidade Grau II.')
else:
  print('Obesidade Grau III (mórbida).')

Cálculo do IMC
Insira sua altura:
1.82
Insira seu peso:
95
Processando seus dados...
Acima do peso.

## Exercício 25
Escreva um programa que receba dois números de ponto flutuante e mostre na tela o maior número digitado. Considere a possibilidade de o usuário digitar dois números iguais.

In [20]:
n1 = float(input('Valor1: '))
n2 = float(input('Valor2: '))

if n1 > n2:
  print(f'{n1}>{n2}')
elif n1 == n2:
  print(f'{n1}={n2}')
else:
  print(f'{n1}<{n2}')

Valor1: 1
Valor2: 3
1.0<3.0

## Exercício 26
Escreva um programa que verifique se um determinado número digitado pelo usuário é nulo, positivo ou negativo.

In [21]:
num = float(input('Digite um número: '))

if num>0:
  print(f'Número positivo.')
elif num==0:
  print(f'Número nulo.')
else:
  print('Número negativo.')

Digite um número: -1
Número negativo.

## Exercício 27
Escreva um programa que receba três números do usuário e mostre na tela o maior número digitado.

In [22]:
num1 = float(input('Número 1: '))
num2 = float(input('Número 2: '))
num3 = float(input('Número 3: '))

if(num1 >= num2) and (num1 >= num3):
  print(f'Maior número: {num1}')
elif(num2 >= num1) and (num2 >= num3):
  print(f'Maior número: {num2}')
else:
  print(f'Maior número: {num3}')

Número 1: 30
Número 2: 31
Número 3: 34
Maior número: 34.0

## Exercício 28
Escreva um programa que gere um número aleatório entre 1 e 100 e mostre na tela.

Dica: utilize o módulo random.

### Solução 1

In [23]:
import random

num = random.randint(1,100)
print(num)

57

### Solução 2

In [24]:
from random import randint

print(randint(1,100))

77

## Exercício 29
Elabore um progama para verificar se um ano é bissexto ou não. A condição para ser um ano bissexto é: o ano deve ser divisível por 400; ou se for divisível por 4 e não for divisível por 100.

In [26]:
ano = int(input('Ano: '))

if ano % 400 == 0 or (ano % 4 == 0 and not ano % 100 == 0):
  print('Ano bissexto.')
else:
  print('Ano não bissexto')

Ano: 2023
Ano não bissexto

## Exercício 30
Elabore um programa para calcular o tamanho de uma string.

In [27]:
string = input('Digite algo: ').strip()
print(len(string))

Digite algo: Soffiatti
9

## Exercício 31
Utilize o módulo datetime e mostre na tela a data e hora atual do sistema de acordo com o formato descrito abaixo.



12/06/2020 - 14:34:17

In [30]:
import datetime

data_atual = datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

30/06/2023 - 12:37:04

## Exercício 32
Escreva um programa que inverta uma string. Exemplos:

Hello World!
Python
!dlroW olleH
nohtyP

In [33]:
string1 = 'Hello World!'
string2 = 'Python'
print(string1)
print(string2)
print(string1[::-1])
print(string2[::-1])

Hello World!
Python
!dlroW olleH
nohtyP

## Exercício 33
Escreva um programa para mostrar na tela o calendário do mês de dezembro de 2020. Exemplo:

![calendario.png]()

Dica: importe o módulo calendar.

In [34]:
import calendar

print(calendar.month(2020, 12))

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

## Exercício 34
Modifique o programa anterior e permita que o usuário especifique o ano e o mês a serem mostrados na tela.

In [35]:
import calendar

ano = int(input('Ano: '))
mes = int(input('Mês: '))

print(calendar.month(ano, mes))

Ano: 2023
Mês: 06
     June 2023
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

## Exercício 35
Escreva um script que mostre na tela o preço de um produto associado a uma categoria especificada pelo usuário.  Utilize como referência as informações a seguir. Caso o usuário não digite uma categoria válida (número entre 1 e 10) mostre na tela uma mensagem personalizada.



Exemplo: preço x categoria
* Categoria 1 - $ 0,5
* Categoria 2 - $ 11,3
* Categoria 3 - $ 17,5
* Categoria 4 - $ 33,97
* Categoria 5 - $ 103,47
* Categoria 6 - $ 44,67
* Categoria 7 - $ 12,55
* Categoria 8 - $ 14,87
* Categoria 9 - $ 98,12
* Categoria 10 - $ 131,4

In [36]:
categoria = int(input('Digite a categoria do produto: '))

if categoria == 1:
  print('O preço do produto é: $ 0.5')
elif categoria == 2:
  print('O preço do produto é: $ 11.3')
elif categoria == 3:
  print('O preço do produto é: $ 17.5')
elif categoria == 4:
  print('O preço do produto é: $ 33.97')
elif categoria == 5:
  print('O preço do produto é: $ 103.47')
elif categoria == 6:
  print('O preço do produto é: $ 44.67')
elif categoria == 7:
  print('O preço do produto é: $ 12.55')
elif categoria == 8:
  print('O preço do produto é: $ 14.87')
elif categoria == 9:
  print('O preço do produto é: $ 98.12')
elif categoria == 10:
  print('O preço do produto é: $ 131.40')
else:
  print('Opção inválida.')

Digite a categoria do produto: 4
O preço do produto é: $ 33.97

## Exercício 36
Resolva o exercício anterior para as categorias de 1 a 8. Utilize estruturas aninhadas.

In [37]:
categoria = int(input('Categoria do produto: '))

if categoria == 1:
  print('Preço: $ 0.5')
else:
  if categoria == 2:
    print('Preço: $ 11.35')
  else:
    if categoria == 3:
      print('Preço: $ 17.5')
    else:
      if categoria == 4:
        print('Preço: $ 33.97')
      else:
        if categoria == 5:
          print('Preço: $ 103.47')
        else:
          if categoria == 6:
            print('Preço: $ 44.67')
          else:
            if categoria == 7:
              print('Preço: $ 12.55')
            else:
              if categoria == 8:
                print('Preço: $ 14.87')
              else:
                print('Categoria inválida')

Categoria do produto: 3
Preço: $ 17.5

## Exercício 37
Determine se uma letra inserida pelo usuário é uma vogal ou consoante. Armazene as vogais em uma lista e implemente sua solução. Desconsidere a possibilidade de o usuário inserir números ou caracteres especiais.

In [38]:
letra = input('Digite uma letra: ')
vogais = ['a', 'e', 'i', 'o', 'u']

if letra in vogais:
  print('A letra digitada é uma vogal.')
else:
  print('A letra digitada é uma consoante.')

Digite uma letra: d
A letra digitada é uma consoante.

## Exercício 38
Escreva um script para classificar um triângulo de acordo com o tamanho dos seus lados. Considere as seguintes informações:

Triângulo equilátero: todos os lados possuem o mesmo tamanho;

Trângulo escaleno: todos os lados possuem medidas diferentes;

Triângulo isósceles: caracterizado por ter dois lados com o mesmo tamanho.

In [40]:
ladoA = float(input('Lado A: '))
ladoB = float(input('Lado B: '))
ladoC = float(input('Lado C: '))

if ladoA == ladoB == ladoC:
  print('O triângulo é equilátero.')
elif ladoA == ladoB or ladoA == ladoC or ladoB == ladoC:
  print('O triângulo é isósceles.')
else:
  print('O triângulo é escaleno.')

Lado A: 1
Lado B: 2
Lado C: 3
O triângulo é escaleno.

## Exercício 39
Implemente uma calculadora simples com as operações aritméticas básicas. O usuário deverá especificar a operação desejada (+,-,*,/) e seguidamente inserir dois valores. Caso, o usuário escolha divisão e insira o valor do denominar 0 mostre uma mensagem personalizada. Para os demais casos, mostre na tela o resultado da operação desejada.

In [41]:
operacao = input('Escolha a operação desejada: (+, -, *, /)')

if operacao in ['+', '-', '*', '/']:
  num1 = float(input('Número 1: '))
  num2 = float(input('Número 2: '))

  if operacao == '+':
    print(f'{num1}+{num2} = {num1+num2}')
  elif operacao == '-':
    print(f'{num1}-{num2} = {num1-num2}')
  elif operacao == '*':
    print(f'{num1}*{num2} = {num1*num2}')
  else:
    if num2==0:
      print('O denominador precisa ser diferente de zero.')
    else:
      print(f'{num1}/{num2} = {num1/num2}')
else:
  print('Opção inválida.')

Escolha a operação desejada: (+, -, *, /)*
Número 1: 3
Número 2: 2
3.0*2.0 = 6.0